#----------------------------------------
#   GIT IGNORE
#----------------------------------------

# OS system config files:
.DS_Store
Desktop.ini

# Application config files:
.idea/

# Temp files:
todo.txt

# Project log files:
npm-debug.log

# Project cache files:
.sass-cache/

# Project source files:
node_modules/

# Project production files:
build/






